:root {
	--vp-c-brand-1: #5f7600;
}

.dark {
	--vp-c-brand-1: #abc837;
}

.feature-grid {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(2, 1fr);
	padding-bottom: 2rem;
	padding-top: 2rem;

	margin-block-start: 4rem;
	flex-direction: column;
	gap: 2rem;

	video,
	img {
		box-shadow: #0000003a 0 1rem 1.5rem;
	}
	.hero {
		grid-column: span 2;
	}
	.round {
		border-radius: 0.5rem;
	}

	.feature-description h3 {
		margin-top: 0.5rem;
		font-size: 2rem;
		font-style: italic;
		color: var(--vp-c-brand-1);
	}
	.feature-description p {
		font-size: 1.2rem;
		text-wrap: balance;
	}
}

.gallery {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	h2 {
		font-size: 3rem;
		line-height: 130%;
		text-wrap: balance;
		border-top: none;
		.no-bold {
			font-weight: normal;
		}
	}

	iframe {
		aspect-ratio: 16 / 9;
		height: 100%;
		width: 100%;
	}
}

@media (max-width: 768px) {
	.feature-grid {
		grid-template-columns: 1fr;
		.hero {
			grid-column: span 1;
		}
	}
}

kbd {
	background-color: white;
	color: black;
	border-radius: 0.25rem;
	border: 1px solid grey;
	font-size: 0.75em;
	line-height: 1;
	min-width: 0.75rem;
	text-align: center;
	padding: 2px 5px;
	position: relative;
	top: -1px;
}

.browser-card {
	display: flex;
	flex-direction: row;
	gap: 0.8em;
	align-items: center;
	margin-top: 2.5rem;
	img {
		width: 3rem;
	}
	h3 {
		font-size: 1.5rem;
		font-weight: semi-bold;
		margin-top: 0;
		color: var(--vp-c-text-2);
	}
}

.screenshot {
	margin-top: 1rem;
	border-radius: 0.5rem;
}

.VPImage.image-src {
	transform: translate(-50%, -50%) rotate(0);
	transition: all 0.1s ease-in;
}
.VPImage.image-src:hover {
	transform: translate(-50%, -50%) rotate(8deg);
}
